<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sol & Mar</title>
    <link rel="stylesheet" href="../css/estilos.css" type="text/css">
    <link rel="icon" href="../favicon.png/form.png" type="image/png">
    
</head>

<body>
<!----------------- Header-------------->    
    <header>
        <div class="titulo">
            <h1>Sol & Mar</h1>
            <p>Holidays travels</p>
        </div>
    </header>
<!------------------Barra de Nav-------------------->
    <nav class="navigationbar">
        
        <ul class="navigationbarlist">
            <li>
                <a class="enlace " href="../index.html">Inicio</a>
            </li>
            <li>
                <a class="enlace active" href="#">Galeria</a>
            </li>
            <li>
                <a class="enlace" href="contacto.html">Contacto</a>
            </li>
            <li>
                <a class="enlace" href="presupuesto.html">Presupuesto</a>  
            </li>
        </ul>
    </nav>
<!----------------------------Galeria de fotos--------------------------->
    <main>
        <div>
            <img src="../images/playa1.jpg" alt="kayak en una isla" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/playa2.jpg" alt="playa desierta" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/playa3.jpg" alt="hombre y niña en la plaza" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/playa4.jpg" alt="mujer saltando en la plaza" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/restaurante.jpg" alt="restaurantes con terrazas" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/cena.jpg" alt="platos presentados" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/desayuno.jpg" alt="cafe con tostadas y huevos" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/pizza.jpg" alt="pizza" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/kayak.jpg" alt="kayak en un lago" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/sunset.jpg" alt="atardeser en la montaña" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/velero.jpg" alt="velero navegando" width="640px" height="424px">
        </div>
        <div>
            <img src="../images/woman.jpg" alt="mujer escalando" width="640px" height="424px">
        </div>
    </main>
 <!-----------------------------------Footer---------------------------->   
    <footer class="pie">
        <div id="pie">

            <div class="copy">
                <p> &copy; Sol & Mar-2022. Todos los derechos reservados</p>
            </div>

            <div class="direccion">
                <p>Av. del Mediterráneo, 20</p>
                <p>03188, La Mata </p>
                <p>Alicante, España</p>
                <p>Tel. 924 252 627</p>
            </div>
        
            <div class="redes">
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com" target="_blank">twitter</a></li>
                </ul>   
            </div>

        </div>
    </footer>
    
</body>
</html>